.searchBox{
  padding: 10px 30px;
  border: 1px solid #e3c9c9;
  border-radius: 50px;
}
.padd-t-130{
  padding-top:130px;
}
.bgCardClr{
  background-color: #f4e6e6;
}
.gallery-item {
  transition: transform 0.2s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}
.bgrInsideCardClr{
  text-align: center;
   border: 1px solid #e3c9c9;
   border-radius: 5px;
   padding: 30px;
}
.marg-t-20{
  margin-top: 20px
}
.marg-b-20{
  margin-bottom:20px;
}
.searchBox{
  padding: 10px 30px;
  border: 1px solid #e3c9c9;
  border-radius: 50px;
}